<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinica_Dental.Properties.Settings.ClinicaDentalConnectionString"
            connectionString="Data Source =  (local)\sqlexpress; database =ClinicaDental; integrated security = true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>